# Python 2 bytecode compiled modules
*.pyc

# Ignore temporary build files
pyslurm/*.pxi

# Python 3 bytecode compiled folder
pyslurm/__pycache__

# Distutils build folder
build/

# Python egg metadata
*.egg-info

# Cython object and library files
*.o
*.so

# Vim swap files
*.swp

# Doc build
doc/build/
