sudo: required
language: python
env:
  matrix:
    - SLURM=18.08.0 CYTHON=0.28.5 PYTHON=3.6
    - SLURM=18.08.0 CYTHON=0.28.5 PYTHON=3.5
    - SLURM=18.08.0 CYTHON=0.28.5 PYTHON=3.4
    - SLURM=18.08.0 CYTHON=0.28.5 PYTHON=2.7
    - SLURM=18.08.0 CYTHON=0.28.5 PYTHON=2.6
    - SLURM=18.08.0 CYTHON=0.19.2 PYTHON=3.6
    - SLURM=18.08.0 CYTHON=0.19.2 PYTHON=3.5
    - SLURM=18.08.0 CYTHON=0.19.2 PYTHON=3.4
    - SLURM=18.08.0 CYTHON=0.19.2 PYTHON=2.7
    - SLURM=18.08.0 CYTHON=0.19.2 PYTHON=2.6
    - SLURM=18.08.0 CYTHON=0.15.1 PYTHON=2.7
    - SLURM=18.08.0 CYTHON=0.15.1 PYTHON=2.6
services:
  - docker
before_install:
  - docker pull giovtorres/docker-centos7-slurm:$SLURM
  - docker run -d -it -h ernie --name slurm-$SLURM giovtorres/docker-centos7-slurm:$SLURM
install: true
before_script:
  - docker exec slurm-$SLURM git clone --branch=$TRAVIS_BRANCH https://github.com/PySlurm/pyslurm.git
  - docker exec -e PYTHON=$PYTHON -e CYTHON=$CYTHON slurm-$SLURM /pyslurm/scripts/build.sh
  - docker exec -e PYTHON=$PYTHON -e CYTHON=$CYTHON slurm-$SLURM /pyslurm/scripts/configure.sh
script:
  - docker exec -e PYTHON=$PYTHON -e CYTHON=$CYTHON slurm-$SLURM /pyslurm/scripts/run_tests.sh
after_success:
  - docker exec -e PYTHON=$PYTHON -e SLURM=$SLURM -e CYTHON=$CYTHON -e GITHUB_TOKEN=$GITHUB_TOKEN -e BRANCH=$TRAVIS_BRANCH slurm-$SLURM /pyslurm/scripts/builddocs.sh
