include pyslurm/alps_cray.h
include pyslurm/bluegene.pxi
include pyslurm/slurm_defines.pxi
include pyslurm/slurm.pxd
include pyslurm/xmalloc.h
include README.rst
include CONTRIBUTORS.rst
include COPYING.txt
include THANKS.rst
graft examples
graft tests
graft doc
