[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "*"
sphinx = "*"
pydata-sphinx-theme = "*"

[dev-packages]
black = "*"
pytest = "*"
pytest-sugar = "*"
pytest-testinfra = "*"
isort = "*"
flake8 = "*"

[pipenv]
allow_prereleases = true
