/* Maximum space for text block */
.md-grid {
  max-width: 75%; 
}

/* Indentation. */
div.doc-contents:not(.first) {
  padding-left: 25px;
  border-left: .05rem solid var(--md-typeset-table-color);
}
